name: Adds an empty plugin placeholder in VPR

on:
  workflow_dispatch:
    inputs:
      plugin_type:
        description: 'Type of plugin: input, filter, output or integration'
        required: true
        default: ''
        type: string
      plugin_name:
        description: 'Name for the plugin being created'
        required: true
        default: ''
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Clone elastic/docs-tools
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: elastic/docs-tools
          path: docs-tools
          fetch-depth: 1
      - name: Clone elastic/logstash-docs
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: elastic/logstash-docs
          path: logstash-docs
          ref: versioned_plugin_docs
          fetch-depth: 1
      - name: Setup git user
        working-directory: ./docs-tools
        run: |
          git config --global user.email 43502315+logstashmachine@users.noreply.github.com
          git config --global user.name logstashmachine
      - run: bundle install
        working-directory: ./docs-tools
      - name: Create an empty placeholder
        working-directory: ./docs-tools
        run: bundle exec ruby generate_plugin_placeholder.rb --output-path=../ --plugin-type=${{ github.event.inputs.plugin_type }} --plugin-name=${{ github.event.inputs.plugin_name }}
        env:
          JRUBY_OPTS: "-J-Xmx4g"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
