name: Version Plugin Reference

on:
  schedule:
    - cron:  '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Clone elastic/docs-tools
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: elastic/docs-tools
          path: docs-tools
          fetch-depth: 1
      - name: Clone elastic/logstash-docs
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: elastic/logstash-docs
          path: logstash-docs
          ref: versioned_plugin_docs
          fetch-depth: 1
      - name: Setup git user
        working-directory: ./docs-tools
        run: |
          git config --global user.email 43502315+logstashmachine@users.noreply.github.com
          git config --global user.name logstashmachine
      - run: bundle install
        working-directory: ./docs-tools
      - name: Generate plugin versions
        working-directory: ./docs-tools
        run: bundle exec ruby versioned_plugins.rb --repair --skip-existing --output-path=../
        env:
          JRUBY_OPTS: "-J-Xmx4g"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
