name: Version Plugin Reference

on:
  schedule:
    - cron:  '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: jruby-9.4
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Clone elastic/docs-tools
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: elastic/docs-tools
          path: docs-tools
          fetch-depth: 1
      - name: Clone elastic/logstash-docs
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: elastic/logstash-docs
          path: logstash-docs
          ref: versioned_plugin_docs
          fetch-depth: 1
      - name: Setup git user
        working-directory: ./docs-tools
        run: |
          git config --global user.email 43502315+logstashmachine@users.noreply.github.com
          git config --global user.name logstashmachine
      - run: bundle install
        working-directory: ./docs-tools
      - name: Generate plugin versions
        working-directory: ./docs-tools
        run: bundle exec ruby versioned_plugins.rb --repair --skip-existing --output-path=../
        env:
          JRUBY_OPTS: "-J-Xmx4g"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
